body {
    font-family: 'Roboto';
    color: #fff;
    background-color: #161616;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: #1616164b;
    border-radius: 100px;
    width: 50%;

}
div {
    display: block;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

h1 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.temp {
    cursor: pointer;
    color: #006dcc;
}


.text-center.status {
    text-align: center;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 1.8em;
    text-transform: capitalize;

}

.icon {
    color: #161616;
    position: relative;
    display: inline-block;
    width: 12rem;
    height: 10rem;
}



